<div id="action" class="panel">
  <div id="difficulty"></div>

  <ul>
    <li id="character_ability">
      <div class="raw" ></div>
      <div class="skill_mod"></div>
      <div class="eq_mod"></div>
      <div class="aura_mod"></div>
    </li>
  </ul>

</div>
