<div id="action" class="panel">
  <ul id="available">
    <li>Basic Attack</li>
    <li>Nimble Strike</li>
    <li>Twin Strike</li>
  </ul>
  <ul id="difficulty">

  </ul>
  <div class="clear">&nbsp;</div>
</div>
