<html>
  <head>
    <title>DMinion - DM</title>
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/main.css" type="text/css" media="screen" />

    <script type="text/javascript" src="/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.10.2.custom.js"></script>
    <script type="text/javascript" src="/js/dm.js"></script>
  </head>
  <body>
    <div id="main">
      <h1>DM</h1>
      <div id="party" class="panel">
        <label>Party</label>
        <table>
          <tr>
            <th>Status</th>
            <th>Name</th>
            <th>Health</th>
            <th>Turn</th>
            <th>Actions</th>
          </tr>
          <% characters.each do |character| %>
          <%= character %>
          <% end %>
        </table>

      </div>
      <div id="subset">
        <div id="turn">
          <%= turn %>
        </div>
        <div id="action">
          <%= action %>
        </div>
        <div id="resolution">
          <%= resolution %>
        </div>
      </div>
    </div>
  </body>
</html>
