<html>
  <head>
    <title>DMinion</title>
    <link rel="stylesheet" href="styles/reset.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="styles/main.css" type="text/css" media="screen" />
  </head>
  <body>
    <div id="main">
      <h1>Dashboard</h1>
      <label>Views</label>
      <ul id="views">
        <li><a href="dm">DM</a></li>
        <li><a href="character/santorini">Santorini</a></li>
        <li><a href="character/zakiti">Zakiti</a></li>
      </ul>
    </div>
  </body>
</html>
