<div id="resolution" class="panel">
    <ul>
      <li>
        <form method="POST" id="apply_heal" action=".">
          <label>heal:</label>
          <input type="text" id="heal" name="heal" value="" />
        </form>
      </li>
      <li>
        <form method="POST" id="apply_damage" action=".">
          <label>damage:</label>
          <input type="text" id="damage" name="damage" value="" />
        </form>
      </li>
    </ul>
  </form>
</div>
