<div id="resolution" class="panel">
  <form method="POST" id="resolve_action" action=".">
    <ul>
      <li>
        <label>heal:</label>
        <input type="text" id="heal" name="heal" value="" />
      </li>
      <li>
        <label>damage:</label>
        <input type="text" id="damage" name="damage" value="" />
      </li>
    </ul>
  </form>
</div>
