<div id="resolution" class="panel">
  <form method="POST" id="resolve_action" action=".">
    <ul>
      <li>
        <label>key:</label>
        <input type="" name="" value="" />
      </li>
      <li>
        <label>key:</label>
        <input type="" name="" value="" />
      </li>
    </ul>
  </form>
</div>
