<div id="skills" class="panel">
  <dl>
    <dt class="dex">Acrobatics:</dt>
    <dd class="dex">10</dd>
    <dt class="int">Arcana:</dt>
    <dd class="int">10</dd>
    <dt class="str">Athletics:</dt>
    <dd class="str">10</dd>
    <dt class="cha">Bluff:</dt>
    <dd class="cha">10</dd>
    <dt class="cha">Diplomacy:</dt>
    <dd class="cha">10</dd>
    <dt class="wis">Dungeoneering:</dt>
    <dd class="wis">10</dd>
    <dt class="con">Endurance:</dt>
    <dd class="con">10</dd>
    <dt class="wis">Heal:</dt>
    <dd class="wis">10</dd>
    <dt class="int">History:</dt>
    <dd class="int">10</dd>
    <dt class="wis">Insight:</dt>
    <dd class="wis">10</dd>
    <dt class="cha">Intimidate:</dt>
    <dd class="cha">10</dd>
    <dt class="wis">Nature:</dt>
    <dd class="wis">10</dd>
    <dt class="wis">Perception:</dt>
    <dd class="wis">10</dd>
    <dt class="int">Religion:</dt>
    <dd class="int">10</dd>
    <dt class="dex">Stealth:</dt>
    <dd class="dex">10</dd>
    <dt class="cha">Streetwise:</dt>
    <dd class="cha">10</dd>
    <dt class="dex">Thievery:</dt>
    <dd class="dex">10</dd>
  </dl>
  <div class="clear">&nbsp; </div>
</div>
