<ul id="action" class="panel">
  <li><img class="phase"> <span alt="takes ongoing damage">Apply Ongoing Damage</span></li>
  <li><img class="phase"> <span alt="says to ">Free Actions</span></li>
  <li><img class="phase"> <span alt="marks">Minor</span></li>
  <li><img class="phase"> <span alt="">Move</span></li>
  <li><img class="phase"> <span alt="attacks">Standard</span></li>
  <li><img class="phase"> <span alt="recovers">Roll to Save vs Effects</span></li>
  <li>
    <form method="POST" id="action_form" action="#">
      <label>Action Log</label>
      <input type="img" id="action_log" name="action_log" value="" />
      <button>&gt;</button>
    </form>
  </li>
</ul>
