<ul id="phases">
  <li><img class="phase" src="../img/phase_active.png"> <span alt="takes ongoing damage">Apply Ongoing Damage</span></li>
  <li><img class="phase" src="../img/phase_active.png"> <span alt="says to ">Free Actions</span></li>
  <li><img class="phase" src="../img/phase_active.png"> <span alt="marks">Minor</span></li>
  <li><img class="phase" src="../img/phase_active.png"> <span alt="">Move</span></li>
  <li><img class="phase" src="../img/phase_active.png"> <span alt="attacks">Standard</span></li>
  <li><img class="phase" src="../img/phase_active.png"> <span alt="recovers">Roll to Save vs Effects</span></li>
</ul>
