h2 {
    font-size: 20px;
    color: white;
}

#details {
    font-size: 12px;
    width: 300px;
    float: left;
    margin-right: 2em;
}

#skills {
    width: 200px;
    float: left;
}

.str {color: red;}
.con {color: black;}
.dex {color: green;}
.int {color: blue;}
.wis {color: purple;}
.cha {color: magenta;}
