.clear {
    position: relative;
    clear: both;
}

body{
    font-size: 100%;
    font-family: 'Courier New', monospace;
    font-variant: small-caps;
    color: black;
}

h1 {
    float: left;
    text-align: center;
    font:  small-caps 100 3em "MV Boli", cursive;
    color: #CCC;
    text-shadow: 0.1em 0.1em .1em black;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 15px;
    border-left: 3px groove silver;
    border-right: 3px groove silver;
    background-image:url('../img/cardboard.jpg');
}

h1, #left_panel, #right_panel {
    float: left;
    height: 100px;
}

.hidden {
    display: none;
}

#left_panel {
    border-left-image:url('../img/cardboard.jpg');
     border-left:100px solid;
     border-top:30px solid transparent;
     border-bottom:30px solid transparent;
     width: 0px;
}

#right_panel {
     border-right:100px solid black;
     border-top:30px solid transparent;
     border-bottom:30px solid transparent;
     width: 0px;
}


label, dt {
    font-size: 1em;
    font-weight: normal;
}

ul{
    list-style-type: none;
}

#main {
    outline: 1px dashed red;
    width: 830px;
    margin: auto;
    padding: 2em;
    position: relative;
    background-image:url('../img/background.jpg');
    height: 690px;
}

.connected {
    background-color: green;
    border: 1px dashed green;
}

.expired {
    color: #999;
}

#health ~ dd {
    float: left;
}

tr.current_turn td.turn{
    background-repeat:no-repeat;
    background-position: right center;
}

tr.current_turn {
    font-weight: bold;
}

tr.target td.name{
    color: red;
}

tr.character img.target {
    opacity: .3;
}
tr.target td img.target {
    width: 0px;
    height: 0px;
    padding: 12px;
    background-repeat:no-repeat;
    background-image:url("../img/target.png");
    opacity: 1;
}

.section {
    width: 40%;
}

.panel {
    float: left;
    background-image:url("../img/panel.jpg");
    border: 3px groove black;
    -moz-border-radius: 25px 10px / 10px 25px;
    border-radius: 25px 10px / 10px 25px;
    padding: 1em;
    margin-top: 1em;
}

#character_ability div {
    background-color: red;
    height: 10px;
    width: 20px;
    float: left;
}

#action img {
    margin-top: 1em;
    float: left;
}


.subset {
    float: left;
    width: 40%;
    margin-right: 4em;
}

#action_form {
    width: 100%;
    background-color:rgba(200,200,200,0.6);
    clear: left;
    border-radius: 15px;
    padding: .2em;
}

#action_form label {
    font-weight: bold;
    margin-left: 1em;
}

#action_form input {
    width: 80%;
    background-color:rgba(200,200,200,0.7);
    border: 0;
}

#party .name {
    width: 150px;
    padding-left: 1em;
    text-align: left;
    font-size: 1.4em;
}

#party .health, #party .max_hp {
    width: 40px;
    text-align: right;
    background-color:rgba(30,30,30,0.1);
    color:rgba(0,0,0,0.9);
    padding-right: .3em;
}

#resolution label {
    width: 60px;
    display: block;
    text-align: right;
    float: left;
}

#resolution input {
    float: left;
    margin-left: 1em;
    width: 4em;
}

#action li:hover {
    font-weight: bold;
}

#legend dt, #legend dd {
    float: left;
}

#legend dt {
    clear: left;
    width: 100px;
    font-weight: bold;
}

.part, .whole{
    width: 2em;
    background-color:rgba(30,30,30,0.1);
    margin-left: .2em;
    text-align: center;
}

.part{
    font-weight: bold;
}