body{
    font-size: 100%;
    font-family: 'Courier New', monospace;
    font-variant: small-caps;
    color: black;
}

h1 {
    float: left;
    text-align: center;
    font:  small-caps 100 3em "MV Boli", cursive;
    color: #CCC;
    text-shadow: 0.1em 0.1em .1em black;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 15px;
    border-left: 3px groove silver;
    border-right: 3px groove silver;
    background-image:url('../img/cardboard.jpg');
}

h1, #left_panel, #right_panel {
    float: left;
    height: 100px;
}

#left_panel {
    border-left-image:url('../img/cardboard.jpg');
     border-left:100px solid;
     border-top:30px solid transparent;
     border-bottom:30px solid transparent;
     width: 0px;
}

#right_panel {
     border-right:100px solid black;
     border-top:30px solid transparent;
     border-bottom:30px solid transparent;
     width: 0px;
}


label, dt {
    font-size: 1em;
    font-weight: normal;
}

ul{
    list-style-type: none;
}

#main {
    width: 80%;
    margin: auto;
    padding: 2em;
    position: relative;
    background-image:url('../img/background.jpg');
    height: 800px;
}

.connected {
    background-color: green;
    border: 1px dashed green;
}

.expired {
    color: #999;
}

#health ~ dd {
    float: left;
}

tr.current_turn td.turn{
    background-repeat:no-repeat;
    background-position: right center;
}

tr.current_turn {
    font-weight: bold;
}

tr.target td.name{
    color: green;
}

.section {
    width: 40%;
}

.panel {
    float: left;
    clear: left;
    background-image:url("../img/panel.jpg");
    border: 3px groove black;
    -moz-border-radius: 25px 10px / 10px 25px;
    border-radius: 25px 10px / 10px 25px;
    padding: 1em;
}

#character_ability div {
    background-color: red;
    height: 10px;
    width: 20px;
    float: left;
}

#difficulty {
    background-color: green;
    width: 300px;
    height: 10px;
}

#party, #subset {
    float: left;
    width: 45%
}

#action_form input {
    width: 300px;
}